* {
  width: 400px;
  margin: auto;
  background-color:moccasin;
}

h1 {
    padding: 15px;
    font-size: 40px;
}

h1, h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:slategrey;
}

p, ul {
    color:lightslategrey;
}

div {
    border-color: black;
    padding: 10px; 
}

#JJ, #CO {
    border-color: white;
}